.slider-reviews {
  position: relative;
}

.slider-reviews__back,
.slider-reviews__next {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../img/arrow-left.png);
  width: 16px;
  height: 48px;
  z-index: 999;
  top: 50%;
  cursor: pointer;
  transition: opacity 0.5s;

  transform: translateY(-50%);
  &:hover {
    opacity: 0.7;
  }
}
.slider-reviews__back {
  background-image: url(../img/arrow-left.png);
  left: 27px;
  @include media-breakpoint-down(xs) {
    left: 12px;
  }
}

.slider-reviews__next {
  background-image: url(../img/arrow-right.png);
  right: 27px;
  @include media-breakpoint-down(xs) {
    right: 12px;
  }
}
