.svg-art_circle {
	background: url("svg/sprite.css-8de1b9b3.svg") 99.91717171717171% 0 no-repeat;
}

.svg-art_circle-dims {
	width: 421px;
	height: 421px;
}

.svg-icon_arrow-down {
	background: url("svg/sprite.css-8de1b9b3.svg") 49.75014413758806% 54.285996015492714% no-repeat;
}

.svg-icon_arrow-down-dims {
	width: 451.847px;
	height: 451.847px;
}

.svg-icon_arrow-next {
	background: url("svg/sprite.css-8de1b9b3.svg") 54.828553682722585% 0 no-repeat;
}

.svg-icon_arrow-next-dims {
	width: 477.18px;
	height: 477.18px;
}

.svg-icon_arrow-prev {
	background: url("svg/sprite.css-8de1b9b3.svg") 0 55.78435858883006% no-repeat;
}

.svg-icon_arrow-prev-dims {
	width: 477.18px;
	height: 477.18px;
}

.svg-icon_close {
	background: url("svg/sprite.css-8de1b9b3.svg") 98.80042749128536% 42.73287386189466% no-repeat;
}

.svg-icon_close-dims {
	width: 409.81px;
	height: 409.81px;
}

.svg-icon_instagram {
	background: url("svg/sprite.css-8de1b9b3.svg") 72.68038207200588% 61.770260223048325% no-repeat;
}

.svg-icon_instagram-dims {
	width: 50px;
	height: 50px;
}

.svg-icon_instagram-2 {
	background: url("svg/sprite.css-8de1b9b3.svg") 0 0 no-repeat;
}

.svg-icon_instagram-2-dims {
	width: 512px;
	height: 512px;
}

.svg-icon_phone {
	background: url("svg/sprite.css-8de1b9b3.svg") 0 99.95048854668727% no-repeat;
}

.svg-icon_phone-dims {
	width: 405.33px;
	height: 405.33px;
}

